body {
  /* remove margins and scroll bars */
  margin: 0;
  overflow: hidden;

  /* style text */
  text-align: center;
  font-size: 12px;
  font-family: Sans-Serif;

  /* color text */
  color: #444;
}

#scene-container {
  /* tell our scene container to take up the full page */
  position: absolute;
  width: 100%;
  height: 100%;

  /*
      Set the container's background color to the same as the scene's
      background to prevent flashing on load
    */
  background-color: rgba(255, 197, 127, 1);
}

.sub-container {
  position: absolute;
  width: 50%;
  height: 100%;
}

.sub-container:first-child {
  left: 0;
}

.sub-container:last-child {
  right: 0;
}

.splitter {
  position: absolute;
  left: 50%;

  height: 100%;
  width: 5px;

  background-color: black;
}
